html,
body {
  /*typography*/
  font-family: var(--font-content);
}

/*headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /*typography*/
  font-family: var(--font-title);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 39px;
}
h3 {
  font-size: 31px;
}
h4 {
  font-size: 25px;
}
h5,
h6 {
  font-size: 20px;
}

.title-header {
  color: var(--color-white);
}

/*End headers*/

.paragraph {
  /*typography*/
  color: var(--color-white);
  text-align: left;
}

.image {
  width: 100%;
}

/*header*/
#header {
  /*Display stuff*/
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /*Position stuff*/
  position: fixed;
  top: 0;

  /*Box-model*/
  width: 100vw;
  height: 40px;
  padding: 40px 0px;
  z-index: 2;
  background-color: var(--color-blue-dark30);
}

#link-amazon {
  /*Position stuff*/
  position: absolute;
  top: 35px;
  right: 15px;

  /*typography*/
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: 31px;
  font-weight: 500;
}

#link-amazon:hover {
  /*typography*/
  color: var(--color-blue-turquoise-light);
}

.button-icon-header {
  /*box-model*/
  border: none;
  background-color: transparent;
  /*manipulation*/
  cursor: pointer;
}

.icon-header {
  /*box-model*/
  width: 32px;
  height: 32px;
  /*typograph*/
  color: var(--color-white);
}
.icon-header:hover {
  color: var(--color-blue-turquoise-light);
}

.bi-list {
  /*Position stuff*/
  position: absolute;
  top: 35px;
  left: 15px;
}

/*Navigation header*/
#navigation_header {
  /*Display stuff*/
  gap: 10px;
  z-index: 2;

  /*position stuff*/
  position: absolute;
  top: 0;
  left: 0;

  /*box-model*/
  width: 200px;
  height: 500px;
  margin-left: -100vw;
  padding: 20px;
  background-color: var(--color-blue-dark40);
  /*Manipulation*/
  animation-duration: 0.5s;
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0vw;
  }
}

/*Links*/
.link-nav {
  color: var(--color-white);
}

.link-nav:hover {
  color: var(--color-blue-turquoise-light);
}

/*End of header*/

/*Geral settings*/
.button {
  /*Box-model*/
  width: 120px;
  height: 40px;
  padding: 8px 16px;
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 24px;

  /*typography*/
  font-family: var(--font-content);
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
}
.button:hover {
  /*Box-model*/
  background: var(--color-blue-hover);
  /*Manipulation*/
  cursor: pointer;
}

#button-play {
  /*box-model*/
  width: 32px;
}

.flexbox {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section-mother {
  width: 100%;
}

/*End of geral settings*/

/*main*/
#main {
  /*Display stuff*/
  gap: 80px;

  /*Box-model*/
  width: 100%;
  margin-top: 200px;
}

/*Section introduction*/
#introduction {
  gap: 80px;
}
#title-introduction,
#title-introduction span {
  /*Typography*/
  font-size: 25px;
}

#title-introduction span {
  /*Typography*/
  color: var(--color-white);
}
.color-turquoise-light {
  /*typography*/
  color: var(--color-blue-turquoise-light);
}
/*Container buttons*/
#container-button-play {
  gap: 10px;
}

/*images*/
#echo-dot {
  width: 290px;
  height: 300px;
}

.comand-echo-dot {
  position: absolute;
  width: 124px;
  height: 32px;
}
#comand-alex1 {
}

/*End of section introduction*/

/*End of main*/

/*Footer*/
#footer {
  display: none;
}
