html,
body {
  /*typography*/
  font-family: var(--font-content);
}

/*headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /*typography*/
  font-family: var(--font-title);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 39px;
}
h3 {
  font-size: 31px;
}
h4 {
  font-size: 25px;
}
h5,
h6 {
  font-size: 20px;
}

.title-header {
  color: var(--color-white);
}

/*End headers*/

.paragraph {
  /*box-model*/
  max-width: 600px;
  padding: 0px 10px;

  /*typography*/
  color: var(--color-white);
  text-align: left;
}

.image {
  width: 100%;
}

/*header*/
#header {
  /*Display stuff*/
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /*Position stuff*/
  position: fixed;
  top: 0;

  /*Box-model*/
  width: 100vw;
  height: 40px;
  padding: 40px 0px;
  z-index: 2;
  background-color: var(--color-blue-dark30);
}

#link-amazon {
  /*Position stuff*/
  position: absolute;
  top: 25%;
  right: 5%;

  /*typography*/
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: 31px;
  font-weight: 500;
}

#link-amazon:hover {
  /*typography*/
  color: var(--color-blue-turquoise-light);
}

.button-icon-header {
  /*box-model*/
  border: none;
  background-color: transparent;
  /*manipulation*/
  cursor: pointer;
}

.icon-header {
  /*box-model*/
  width: 32px;
  height: 32px;
  /*typograph*/
  color: var(--color-white);
}
.icon-header:hover {
  color: var(--color-blue-turquoise-light);
}

.bi-list {
  /*Position stuff*/
  position: absolute;
  top: 25%;
  left: 5%;
}

/*Navigation header*/
#navigation_header {
  /*Display stuff*/
  gap: 10px;
  z-index: 2;

  /*position stuff*/
  position: absolute;
  top: 0;
  left: 0;

  /*box-model*/
  width: 200px;
  height: 500px;
  margin-left: -100vw;
  padding: 20px;
  background-color: var(--color-blue-dark40);
  /*Manipulation*/
  animation-duration: 0.5s;
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0vw;
  }
}

/*Links*/
.link-nav {
  color: var(--color-white);
}

.link-nav:hover {
  color: var(--color-blue-turquoise-light);
}

/*End of header*/

/*Geral settings*/
.button {
  /*Box-model*/
  width: 120px;
  height: 40px;
  padding: 8px 16px;
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 24px;

  /*typography*/
  font-family: var(--font-content);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: var(--color-white);
}
.button:hover {
  /*Box-model*/
  background: var(--color-blue-hover);
  /*Manipulation*/
  cursor: pointer;
}

#button-play {
  /*box-model*/
  width: 32px;
}

.flexbox {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section-mother {
  /*box-model*/
  width: 100%;

  /*Display stuff*/
  gap: 40px;
}

/*End of geral settings*/

/*main*/
#main {
  /*Display stuff*/
  gap: 80px;

  /*Box-model*/
  width: 100%;
  margin-top: 200px;
}

/*Section introduction*/
#introduction {
  gap: 80px;
}
#title-introduction,
#title-introduction span {
  /*Typography*/
  font-size: 25px;
}

#title-introduction span {
  /*Typography*/
  color: var(--color-white);
}
.color-turquoise-light {
  /*typography*/
  color: var(--color-blue-turquoise-light);
}
/*Container buttons*/
#container-button-play {
  gap: 10px;
}

/*images*/
.container-image {
  position: relative;
}

#echo-dot {
  max-width: 290px;
  max-height: 300px;
}

.comand-echo-dot {
  position: absolute;
  width: 124px;
  height: 32px;
}
#comand-alexa1 {
  bottom: 100%;
  left: 50%;
}
#comand-alexa2 {
  bottom: 30%;
  left: 58%;
}

/*End of section introduction*/

/*Section Know echo dot*/

#know-echo-dot {
  gap: 80px;
}

#text-know-more {
  /*box-model*/
  background-image: var(--radial-gradient);
  padding: 40px;
  border-radius: 16px;
}

/*Image*/
/*Background-image*/
.background-properties {
  /*box-model*/
  width: 100%;
  max-width: 768px;
  height: 100vh;
  max-height: 392px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

#man-using-alexa {
  /*position stuff*/
  position: relative;

  /*box-model*/
  background-image: url(../images/close_up_hand_touching_virtual_assistant.png);
}

/*voice comand*/
#comand-alexa3 {
  /*position stuff*/
  top: 10%;
  left: 20%;

  /*box-model*/
  width: 243px;
  height: 60px;
}

/*Functions of Alexa*/
.container-flexbox-row {
  flex-direction: row;
}
.imageFunctionsAlexa {
  /*box-model*/
  width: 32px;
  height: 32px;
}

/*Players supported by Alexa*/
#container-players {
  align-items: start;
}
.column-player {
  align-items: start;
  flex-direction: row;
}

.imagePlayersAlexa {
  /*box-model*/
  max-width: 108px;
  max-height: 40px;
}

/*Offers*/
#container-offer {
  /*box-model*/
  width: 350px;
  height: 200px;
  border: 2px solid;
  border-image: var(--default-gradient);
  border-image-slice: 1; /*Set the width of the slice of the border image*/
}

#offer {
  padding: 40px 20px;
}

#offer aside {
  /*Display stuff*/
  display: inline;

  /*typography*/
  font-size: 20px;
}

#aside-day {
  /*typografy*/
  color: var(--color-blue-turquoise-light);
}
/*End of section Know echo dot*/

/*Section know-alexa*/
/*background image*/
#container-alexa-desk {
  /*box-model*/
  max-height: 512px;
  background-image: url(../images/alexa-on-deskt.png);
}
/*Information*/
.comand {
  align-items: start;
  padding: 0px 10px;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-description {
  /*display stuff*/
  display: inline;

  /*box-model*/
  width: 24px;
  height: 24px;
}

.title-property {
  /*display stuff*/
  display: inline;
  /*typographt*/
  font-family: var(--font-title);
  font-size: 20px;
}

.paragraphy-property {
  max-width: 412px;
}

/*button-know more*/
#container-button-know-more {
  position: relative;
}

#button-know-more {
  /*box-model*/
  width: 206px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--color-white);
}
#button-know-more:hover {
  border: 1px solid var(--color-blue-turquoise-light);
}

#polygon-play {
  /*position stuff*/
  position: absolute;
  z-index: 2;
  top: 42%;
  right: 8%;

  /*box-model*/
  width: 8px;
  height: 8px;
}

/*End of section know-alexa*/

/*Section tecnical details*/
#image-tecnical-details {
  max-width: 1072px;
}

/*End of section tecnical details*/
/********************************/
/*End of main*/

/*Footer*/
#footer {
  /*display stuff*/
  gap: 40px;

  /*box-model*/
  padding-bottom: 20px;
}

.listFooter,
.description-link,
.description-copyright {
  /*display stuff*/
  align-items: start;
  gap: 10px;
}
.listFooter li {
  /*typograph*/
  color: var(--color-white);
}

.column-footer,
#container-links {
  /*display stuff*/
  align-items: start;
  gap: 40px;
}

.container-paragraphs {
  /*display stuff*/
  align-items: start;
  gap: 5px;
}

.container-paragraphs .paragraph {
  padding: 0px;
}

#line1 {
  /*position stuff*/

  /*box-model*/
  max-width: 1440px;
}

/*End of footer*/

/*break point for the container of links*/
@media screen and (min-width: 560px) {
  #container-links {
    flex-direction: row;
  }
}
