@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /*Definition of variables*/
  /*colors*/
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #e6e6e6;
  --color-blue-dark: #1f2532;
  --color-blue-light: #0071e3;
  --color-blue-turquoise-light: #0bfcfa;
  --color-blue-light-dark10: #05a9d0;
  --color-blue-dark30: #141822;
  --color-blue-dark40: #13161e;
  --color-blue-hover: #003972;

  /*Typography*/
  /*Fonts*/
  --font-title: "Nunito Sans", sans-serif;
  --font-content: "Roboto", sans-serif;
}

* {
  /*box-model stuff*/
  margin: 0px;
  padding: 0px;
  /*typography*/
  font-size: 12px;
}

html,
body {
  /*box-model stuff*/
  background-color: var(--color-blue-dark);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
