@import "style.css";
@import "tablet.css";

.paragraph {
  font-size: var(--font-size-20);
}

.title-header {
  font-size: var(--font-size-25);
}

#header {
  align-items: center;
}

/*Navigation header*/
#navigation_header {
  position: relative;
  margin-left: 0vw;
  background: transparent;
  flex-direction: row;
  width: auto;
  height: auto;
}
#link-home {
  font-size: var(--font-size-49);
}

/*link nav*/
.link-nav {
  font-size: var(--font-size-20);
}
.link-nav:hover {
  color: var(--color-black);
}

.button-icon-header {
  display: none;
}
.listLink {
  flex-direction: row;
}

.button {
  width: 144px;
  height: 44px;
  background-image: none;
  background-color: var(--color-blue);
  font-size: var(--font-size-16);
  text-align: center;
}

.button:hover {
  background-color: var(--color-blue-hover);
}

/*End of navigation header*/

/*Geral settings*/
.flexbox-row {
  flex-direction: row;
}
/*End of geral settings*/

/*Section emphasis*/
#emphasis-column-image {
  height: 480px;
}
