@import "style.css";
@import "tablet.css";

.paragraph {
  font-size: var(--font-size-18);
}

/*Navigation header*/
#navigation_header {
  position: relative;
  margin-left: 0vw;
  background: transparent;
  flex-direction: row;
  gap: 40px;
  width: auto;
  height: auto;
}
#link-home {
  font-size: var(--font-size-49);
}

/*link nav*/
.listLink {
  flex-direction: row;
  gap: 40px;
}
.link-nav {
  font-size: var(--font-size-20);
}
.link-nav:hover {
  color: var(--color-black);
}

.button-icon-header {
  display: none;
}

.button {
  width: 144px;
  height: 44px;
  background-image: none;
  background-color: var(--color-blue);
  font-size: var(--font-size-16);
  text-align: center;
}

.button:hover {
  background-color: var(--color-blue-hover);
}

/*End of navigation header*/

/*Geral settings*/
.section-mother {
  max-width: 1140px;
}

.flexbox-row {
  flex-direction: row;
}
/*End of geral settings*/

/*Section emphasis*/
#emphasis-column-image {
  height: 480px;
}

/*Section resources*/

#resources {
  width: 100%;
}
/*Services*/
#services {
  flex-direction: row;
  align-items: flex-start;
}

#introduction {
  max-width: 460px;
}

.frame {
  gap: 10px;
}
.title-features {
  font-size: var(--font-size-20);
}

/*End of section resources*/

/*Section video*/
iframe {
  max-width: 1140px;
}

/*End of section video*/
