@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

:root {
  /*colors*/
  --color-blue: #2c7aed;
  --color-blue-dark: #0b1f3b;
  --color-blue-hover: #12315f;
  --color-green: #4bc3cc;
  --color-green-light90: #edf9fa;
  --color-gray-dark: #44494f;
  --color-gray-dark-light60: #b4b6b9;
  --gradient: linear-gradient(90deg, #2c7aed -8.37%, #4bc3cc 100%);

  /*Fonts*/
  /*Sizes*/
  --font-size-61: 61px;
  --font-size-49: 49px;
  --font-size-31: 31px;
  --font-size-25: 25px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-12: 12px;
  /*application*/
  --font-title: "Fredoka", sans-serif;
  --font-content: "Montserrat", serif;

  /*constants*/
  --video-height: calc(0.5625 * 100vw);
  --width-svg-client-logo: 32px;
  --height-svg-client-logo: 32px;
}

/*Body an components settings*/
body {
  font-family: var(--font-content);
  font-size: var(--font-size-12);
}

/*headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: var(--font-size-61);
}
h2 {
  font-size: var(--font-size-49);
}
h3 {
  font-size: var(--font-size-31);
}
h4 {
  font-size: var(--font-size-25);
}
h5 {
  font-size: var(--font-size-20);
}
h6 {
  font-size: var(--font-size-16);
}
/*End headers*/

.paragraph {
  font-size: var(--font-size-12);
  color: var(--color-gray-dark);
  text-align: left;
}

.image {
  width: 100%;
}

#main {
  width: 100%;
  gap: 80px;
}

/*End of body*/

/*Header*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 20px;
  background-image: var(--gradient);
}

/*navigation*/
#navigation_header {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -100vw;
  width: 120px;
  height: 420px;
  padding: 20px;
  background-color: var(--color-blue-dark);
  z-index: 2;
  animation-duration: 0.5s;
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0vw;
  }
}

.button-icon-header {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-header {
  width: 32px;
  height: 32px;
  color: var(--color-white);
}

.icon-header:hover {
  color: var(--color-black);
}

.bi-x:hover {
  color: var(--color-green);
}

#link-home {
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: var(--font-size-31);
  font-weight: 500;
}

#link-home:hover {
  color: var(--color-blue-black);
}

/*Links*/
.link-nav {
  color: var(--color-white);
  font-family: var(--font-content);
  font-size: var(--font-size-12);
}

.link-nav:hover {
  color: var(--color-green);
}
/*button*/
.button {
  font-family: var(--font-content);
  font-size: var(--font-size-12);
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  background-image: var(--gradient);
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 32px;
  padding: 8px 16px;
}
.button:hover {
  background: var(--color-green);
  cursor: pointer;
}

/*End of button buy*/

/*End of navigation*/

/*End of Header*/

/*Geral settings*/
.section-mother {
  max-width: 768px;

  justify-content: center;
}

.column-text {
  max-width: 768px;
  padding: 0px 10px;
}

.title-header {
  color: var(--color-blue-dark);
}
/*flexbox*/
.flexbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/*End of geral settings*/

/*Section emphasis*/
#emphasis {
  width: 100%;
  margin-top: 0px;
}

#emphasis-column-image {
  width: 100%;
  height: 296px;
  border-radius: 16px;
  background-image: url(../images/printer-hp.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

#emphasis-column-text {
  align-items: flex-start;
  padding: 0 10px;

  gap: 10px;
}

#emphasis-column-text .title-header {
  margin: 0px;
}
#emphasis-title-welcome {
  font-size: var(--font-size-20);
  color: var(--color-green);
}


/*End Section emphasis*/

/*Section resources*/
/*features*/
#features {
  margin-bottom: 40px;
}

.column {
  margin-top: 10px;
}
/*end features*/

/*Resources graphics*/
#resources-graphics {
  background-image: var(--gradient);
  border-radius: 8px;
  padding-top: 20px;
}
#performance {
  color: var(--color-white);
  padding-left: 10px;
}

#container-images-resource {
  width: 100%;
}

#image-performance {
  max-width: 320px;
}

/*End Resources graphics*/

/*End of section resources*/

/*Section video*/
#video {
  gap: 10px;
}
#video .title-header {
  margin: 0px;
  padding: 0px 10px;
  margin: 0px;
}
iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: var(--video-height);
}
/*End of Section video*/

/*Section plans*/

.plans-price {
  align-items: flex-start;
  gap: 10px;
  max-width: 320px;
  padding: 40px 20px;
  border-radius: 16px;
  border: 1px solid var(--color-gray-dark-light60);
}
.plans-price .title-price {
  margin: 0px;
}

.price-plan {
  font-family: var(--font-title);
  font-size: var(--font-size-25);
  margin: 0px;
}

/*The aside month*/
.month {
  display: inline;
  font-family: var(--font-content);
  font-size: var(--font-size-16);
  font-weight: 400;
  color: var(--color-gray-dark);
}
/*Plan resource*/
.plans-resources {
  gap: 10px;
}
.resource {
  display: flex;
  gap: 10px;
}

/*Plan start*/
#title-price-start {
  color: var(--color-blue);
}

/*Plan pro*/
#price-pro {
  background-color: var(--color-blue);
}
#price-pro aside {
  color: var(--color-white);
}
#price-pro .title-price {
  color: var(--color-white);
}

#price-pro .paragraph {
  color: var(--color-white);
}
#title-price-pro {
  color: var(--color-white);
}

/*Plan expert*/
#title-price-expert {
  color: var(--color-blue);
}
/*End of Section plans*/

/*Section clients*/

.client-logo {
  gap: 10px;
}

.svg-client-logo {
  width: var(--width-svg-client-logo);
  height: var(--height-svg-client-logo);
}

/*End of section clients*/

/*Section newsletter*/
#newsletter {
  background-image: var(--gradient);
  border-radius: 8px;
  padding: 40px 20px;
}

#title-newsletter {
  font-family: var(--font-title);
  font-size: var(--font-size-20);
  color: var(--color-white);
}

.input {
  width: 256px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: var(--font-content);
  font-size: var(--font-size-12);
  color: var(--color-black);
}

#container-button-send {
  width: 100%;
}

#button-send {
  color: var(--color-white);
  background-color: var(--color-green);
  background-image:none;
  border: none;
  border-radius: 8px;
  font-family: var(--font-content);
  font-size: var(--font-size-12);
  font-weight: 700;
}

#button-send:hover {
  background-color: var(--color-blue-hover);
}

#text-newsletter {
  font-size: var(--font-size-12);
  width: 250px;
  color: var(--color-white);
}
/*End of section newsletter*/

/*Section doubts*/
#background-doubts {
  background-color: var(--color-blue);
  padding: 40px 20px;
  border-radius: 16px;
}

.faq {
  max-width: 320px;
  border-bottom: 1px solid var(--color-white);
  margin-top: 40px;
  padding-bottom: 20px;
  cursor: pointer;
}

#firstFaq {
  margin-top: 0px;
}

.faq.active .arrowDown {
  transform: rotate(180deg);
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.question {
  flex-direction: row;
  justify-content: space-between;
}

.arrowDown {
  border: none;
  color: var(--color-white);
  transition: transform 0.27s ease-in;
}

.title-faqs {
  color: var(--color-white);
  font-weight: 600;
}

.answer {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.answer .paragraph {
  color: var(--color-white);
  padding-top: 10px;
}

/*End of section doubts*/

/*Footer*/
#footer {
  padding: 40px 0px;
  margin-top: 80px;
  background-color: var(--color-green-light90);
  gap: 40px;
}

#container-main {
  width: 70%;
  justify-content: space-between;
}

/*information*/
#transit-information {
  gap: 10px;
}
#transit-information h4 {
  margin: 0px;
}

.footer-link {
  color: var(--color-black);
}
.footer-link:hover {
  color: var(--color-blue);
  cursor: pointer;
}
/*social newtwork*/
#social {
  gap: 20px;
}
#social h5 {
  margin: 0px;
}
/**
.network{color:var(--color-black);}
.network:hover {
  color: var(--color-gray-dark-light60);
  cursor:pointer;
}*/
#container-social-network {
  flex-direction: row;
}
/*copyright*/
#copyrights .paragraph {
  text-align: center;
  color: var(--color-black);
}

.zoomable-element {
  transition: transform 0.3s ease;
}

.zoomable-element:hover {
  transform: scale(1.2);
}
/*End of footer*/
