@import "style.css";

.paragraph {
  font-size: var(--font-size-16);
}

#header {
  align-items: center;
}

.title-header {
  font-size: var(--font-size-25);
}
.title-features {
  font-size: var(--font-size-16);
}

/*Navigation header*/
#navigation_header {
  width: 256px;
  height: 500px;
}

.icon-header {
  width: 40px;
  height: 40px;
}

#link-home {
  font-size: var(--font-size-31);
}

.link-nav {
  font-size: var(--font-size-16);
}

/*End of navigation header*/

/*Geral settings*/
.flexbox-row {
  flex-direction: row;
}
/*End of geral settings*/

/*Section emphasis*/
#emphasis {
  flex-direction: row-reverse;
}

#emphasis-column-text {
  max-width: 320px;
}
/*End of section emphasis*/

/*Section resources*/

#features {
  gap: 40px;
}
.frame {
  flex-direction: row;
  max-width: 520px;
  gap: 80px;
}

#resources-graphics {
  width: 100%;
  padding: 10px 0px;
}
#performance {
  text-align: center;
}

/*Services*/
#services {
  flex-direction: column;
}

/*End of section resources*/

/*Section video*/
#video {
  width: 100%;
  gap: 20px;
  align-items: flex-start;
}

iframe {
  max-width: 768px;
}

/*End of section video*/

/*Section plans*/
#table-prices {
  flex-direction: row;
}
/*End of section plans*/

/*Section clients*/
.svg-client-logo {
  width: 48px;
  height: 48px;
}

#listClients {
  gap: 80px;
}
/*End of section clients*/

/*Section newsletter*/
#newsletter {
  align-items: flex-start;
}

#title-newsletter {
  font-size: var(--font-size-25);
}

#text-newsletter {
  font-size: var(--font-size-16);
  width: 320px;
}
/*End of section newsletter*/

/*Section doubts*/
.title-faqs {
  font-size: var(--font-size-20);
}
/*End of section doubts*/

/*Footer*/
/*Contacts*/
#transit-information .title-header {
  font-size: var(--font-size-31);
}

/*Social*/
#social .title-header {
  font-size: var(--font-size-25);
}
.network {
  width: 40px;
  height: 40px;
}
/*End of footer*/
